<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bowerjs -->
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- Application -->
    <script src="js/app.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="travelScreenApp">
    <h3>Brockley Jack</h3>
    <div ng-controller="tflController" ng-init=init("490004395C") >
      <table>
        <tr ng-repeat="arrival in data | orderBy: 'expectedArrival'">
        <td>{{arrival.lineName}}</td>
        <td>{{arrival.destinationName}}</td>
        <td>{{arrival.expectedArrival | date: 'HH:mm:ss'}}</td>
        </tr>
      </table>
    </div>

    <h3>Honor Oak Park</h3>
    <div ng-controller="tflController" ng-init=init("910GHONROPK") >
      <table>
        <tr ng-repeat="arrival in data | orderBy: 'expectedArrival'">
        <td>{{arrival.lineName}}</td>
        <td>{{arrival.destinationName}}</td>
        <td>{{arrival.expectedArrival | date: 'HH:mm:ss'}}</td>
        </tr>
      </table>
    </div>

    <!-- Controllers -->

    <!-- Services -->
    <script src="js/services/tfl.js"></script>

</body>
</html>
